.App {
  width: 100%;
  background-color: #FFFFFF;
  color: #000000;
}

.App-header {
  background-color: #282c34;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
}

.tab {
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.tab:hover {
  text-decoration: underline;
}

.App-link {
  color: #61dafb;
}
.island {
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 10vmin 0;
}

.island .data, .island h1 {
 margin: 0 auto;
 width: 60%;
}

.data > div:first-child {
  width: 100%;
  display: flex;
  justify-content: center;
   padding: 1rem 0;
}

 .data > div {
   width: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 0 auto;
   
 }

 .data > div > div:first-child {
   width: 100%;
   text-align: center;
 }

 .data > div:first-child > span:first-child {
  font-weight: 700;
  padding-right: 1rem;
}

 .data > div > div {
   display: inline-block;
   width: 50%;
   text-align: center;
   margin-bottom: 1rem;
 }

 .data > div > div > span:first-child {
   font-weight: 700;
   padding-right: 1rem;
 }

.island h1 {
  text-align: center;
}

.island ul{
  list-style: none;
}

.viz {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viz iframe {
  width: 80%;
  height: 500px;
}